
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto&display=swap');

*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D1C1C;
    max-width: 896px;
}

/* NAVBAR */
#navbar {
    height: 72px;
    padding: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


#navbar h1 {
    font-size: 28px;
    color: #86895D;
}

#profile {
    border-radius: 50%;
    width: 80px;
    margin-bottom: 3px;
}

#main_container {
    margin: 50px 5px 0px 5px ;
}
.section1 h2,  
.section2 h2,
.section3 h2,
.section4 h2 {
    color: #F0F0F0;
    font-size: 2rem;
}

/* PRODUTO */


/* ATIVIDADE */
.content {
    border-radius: 8px;
    background-color: #232323;
    margin: 5px;
}

.content_p {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.content_p p {
    margin-bottom: 5px;
    color: #BEC092; 
    font-size: 26px;
}


.content_p .value {
    font-style: italic;
    color: #F0F0F0;
    font-size: 1.2rem;
}

/* DICAS DE TREINO */

.content_p h3 {
    color: #F0F0F0;
    font-size: 23px;
}


.sub_content #tip {
    font-size: 16px;
    color: #BEC092; 
    text-decoration: none;
}

.content_inline {
    padding: 5px;
    display: flex;
}

.sub_content {
    display: inline-block;
    margin-left: 8px;
}


.sub_content  h3 {
    color: #F0F0F0;
}

/* TAREFAS */





/* PRÊMIOS */

.heading_awards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F0F0F0;
    padding: 5px;
}


.heading_awards a {
    text-decoration: none;
    color: #BEC092;
}

.content_awards {
    display: flex;
    justify-content: center;
}

.content_awards img {
    border-radius: 50%;
    width: 60px;
    margin: 2px 5px 2px 5px;
}